<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>
    <!--  Toaster Notifications-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <!-- Custom CSS -->
    <link href="~/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <a class="navbar-brand" href="index.htl">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <img src="~/assets/images/logo-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img src="~/assets/images/logo-text.png" alt="homepage" class="light-logo" />

                        </span>
                        <!--End Logo icon -->
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href='@Url.Action("Index","TeacherDashboard")' aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-wrench"></i><span class="hide-menu"> Class</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href='@Url.Action("MarkAttendance","TeacherDashboard")' class="sidebar-link"><i class="fas fa-clock"></i><span class="hide-menu">Mark Attendance </span></a></li>
                                <li class="sidebar-item"><a href='@Url.Action("ViewAttendance","TeacherDashboard")' class="sidebar-link"><i class="fas fa-clock"></i><span class="hide-menu">View Student Attendance </span></a></li>
                                <li class="sidebar-item"><a href='@Url.Action("ManageMarks","TeacherDashboard")' class="sidebar-link"><i class="fas fa-trophy"></i><span class="hide-menu"> Manage Mark </span></a></li>
                                <li class="sidebar-item"><a href='@Url.Action("ViewMarks","TeacherDashboard")' class="sidebar-link"><i class="fas fa-list"></i><span class="hide-menu">View Marks</span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href='@Url.Action("ViewAllStudents", "TeacherDashboard")' aria-expanded="false"><i class="fas fa-users"></i><span class="hide-menu">Students</span></a></li>
                        <li class="sidebar-item"><a href='@Url.Action("ViewAttendanceRecord","TeacherDashboard")' class="sidebar-link"><i class="fas fa-clock"></i><span class="hide-menu">View Attendance </span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href='@Url.Action("ViewAllAssignedSubjects", "TeacherDashboard")' aria-expanded="false"><i class="fas fa-book"></i><span class="hide-menu">Assigned Subjects</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href='@Url.Action("UploadMaterial", "TeacherDashboard")' aria-expanded="false"><i class="fas fa-book"></i><span class="hide-menu">Learning Material</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href='@Url.Action("ViewUploadedMaterials", "TeacherDashboard")' aria-expanded="false"><i class="fas fa-book"></i><span class="hide-menu">View Learning Material</span></a></li>
                        
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href='@Url.Action("Login", "Authentication")' aria-expanded="false"><i class="fas fa-sign-out-alt"></i><span class="hide-menu">Logout</span></a></li>

                    </ul>
                </nav>
            </div>
        </aside>
        <partial name="_NotificationLayout" />
        @RenderBody()
    </div>
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/dist/js/jquery.ui.touch-punch-improved.js"></script>
    <script src="~/dist/js/jquery-ui.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="~/assets/libs/moment/min/moment.min.js"></script>
    <script src="~/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/dist/js/pages/calendar/cal-init.js"></script>
    @* @Scripts .Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap") *@
    <script src="~/Scripts/alertify.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>