@model IEnumerable<School_Management_System.Models.Teacher.Marks>

@{
    ViewData["Title"] = "ViewIndividualStudentMarks";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="page-wrapper">
    <!-- Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Students</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="TeacherDashboard">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Student Marks</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Card Structure -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Id</th>
                                        <th>Class Name</th>
                                        <th>Student Name</th>
                                        <th>Roll No</th>
                                        <th>Subject Name</th>
                                        <th>Date</th>
                                        <th>TestName</th>
                                        <th>Total Marks</th>
                                        <th>Obtained Marks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.ClassName</td>
                                            <td>@item.StudentName</td>
                                            <td>@item.RollNo</td>
                                            <td>@item.SubjectName</td>
                                            <td>@item.Date</td>
                                            <td>@item.TestName</td>
                                            <td>@item.TotalMarks</td>
                                            <td>@item.ObtainedMarks</td>
                                            <td>
                                                <a asp-action="EditStudentMarks" asp-controller="TeacherDashboard" asp-route-id="@item.Id" class="btn btn-mini btn-outkine-orange icon-edit bigger-10">
                                                    <img src="~/assets/48763_file_edit_icon.png" />
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>


}
